body{
    margin:0.5cm;
    font-family: Helvetica, Times, serif;
}
#page{
    background-color: gainsboro;
    padding: 0.5cm;
    overflow: hidden;
}
.gras{
    font-weight: bold;
}
#identification{
    float: left;
    font-weight: bold;
    font-size:  larger;
    margin-top:0.5cm;
}
#demande{
    float: right;
    margin-top: 0.5cm;
}
#numero{
    margin-top: 0.5cm;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
}
#demAd{
    font-weight: bold;
    font-size: larger;
}
#etude{  
    margin-left: 1.5cm;
}
#ligne{
    width: 100%;
    border : 2px solid black;
}
#gauche{
    float:left;
    width:6cm;
}
#state{
    width: 12cm;
}
#droite{
    float:right;
    width:6cm;
}
#partieGauche{
    float: left;
    width: 55%;   
}
#partieDroite{
    float: right;
    width: 40%;
}
.case{
    border : 1px solid black;
    width: 0.5cm;
    height: 0.5cm;
}
.petite-police{
    font-size:  smaller;
}
p a {
    text-decoration: none;
    border: 1px solid black;
    padding:1.5mm;
    color: black;
    margin-left: 14cm;
    font-size:  larger;
}
#page-suivante {
    text-decoration: none;
    border: 1px solid black;
    padding:1.5mm;
    color: black;
    margin-left: 14cm;
    font-size:  larger;
}
