body{
    
    color: white;
    font-weight: bold;
    font-family: Helvetica, Times, serif;
    padding:0.3cm;
}
#contenu{
    background-color: #0e7981;
  
     padding:2cm;
}
#haut{
    font-size: 700%;
}
#milieu{
    font-size:200%
}
#bas{
    margin-top: 7cm;
    font-size:400%
}
#bouton{
    text-align: center;
    margin-top: 5cm;

}
#bouton a{
    text-decoration: none;
    font-size: xx-large;
    color: white;
    border: 1px solid white;
    padding: 3mm;

}