
body{
    margin:0.5cm;
    font-family: Helvetica, Times, serif;
}
#page{
    background-color: gainsboro;
    padding: 0.5cm;
    overflow: hidden;
}
.gras{
    font-weight: bold;
}
.identification{
    float: left;
    font-weight: bold;
    font-size:  larger;
    margin-top:0.5cm;
}
#demande{
    float: right;
    margin-top: 0.5cm;
}
#numero{
    margin-top: 0.5cm;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
}
#demAd{
    font-weight: bold;
    font-size: larger;
}
#etude{  
    margin-left: 1.5cm;
}
.ligne{
    width: 100%;
    border : 2px solid black;
}
#gauche{
    float:left;
    width:6cm;
}
#state{
    width: 12cm;
}
#droite{
    float:right;
    width:6cm;
}
.partieGauche{
    float: left;
    width: 55%;   
}
.partieDroite{
    float: right;
    width: 40%;
}
.case, .choix1, .choix2, .choix3, .temps-choix1,
.temps-choix2, .temps-choix3, .obtention-dec, .dec-ou-autre, .diplome-hors, .obtention-u1,
.obtention-u2, .diplome-u1, .diplome-u2,.genre-emploi,.genre-emploi2, .genre-emploi3,
.temps-emploi,.temps-emploi2, .temps-emploi3{
    border : 1px solid black;
    width: 0.5cm;
    height: 0.5cm;
}
.petite-police{
    font-size:  smaller;
	font-weight: bold;
	
}
.petite-police2{
	font-size:  smaller;
}
.temps-complet-partiel{
	margin-top: 1.5cm;
		
}
.annee-debut{
	margin-top: 2.5cm;
	
}
.date-obtention, .obtention{
	margin-top: 1cm;		
}

.emploi{
	margin-top: 3.5cm;
}
.page-suivante{
	margin-top: 2cm;
}

